@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&family=Roboto+Mono&display=swap');

:root{
    font-size: 16px;
    --primary-color: #0090f5;
    --secondary-color: #ff6f00;
}

body{
    box-sizing: content-box;
}

/* 
    About Me Section
*/

:root{
    font-size: 16px;
    --primary-color: #0090f5;
    --secondary-color: #ff6f00;
}

.aboutMe{
    font-size: 1rem;
    background-color: #ff6f00;
    padding: 3em;
    display: flex;
    align-items:center;
    justify-items:center;
    position: relative;
}

.aboutMe h1{
    color: var(--primary-color); 
    padding: .3em .5em;
    background-color: white;
    position: absolute;
    top: -27px;
    z-index: 0;
}


/*

about me container

*/

.aboutMe-container-1, .aboutMe-container-2 {
    color: white;
    width: 50%;
    margin: 4em 2em;
   
}

.aboutMe-container-1 .aboutMe-text, .aboutMe-container-2 .aboutMe-text {
    font-size: 2rem;
   
}

@media (max-width: 450px){
    .aboutMe{
        flex-direction: column;
    }

    .aboutMe-container-1, .aboutMe-container-2{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: .2rem;
        width: 90%;
    
    }

    .aboutMe-container-1 p, .aboutMe-container-2 p{
        font-size: 1.4rem;
    }

    .aboutMe-container-1{
        margin: 1em 0;

    }

    .aboutMe-container-2 ul{
        font-size: 1.2rem;
        text-align:left;

    }



}

