@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&family=Roboto+Mono&display=swap');

:root{
    font-size: 16px;
    --primary-color: #0090f5;
    --secondary-color: #ff6f00;
}

body{
    box-sizing: content-box;
}



.hero{
    padding: 0 2rem;
    font-family: 'Roboto Mono', monospace;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 95vh;
    margin: 0 auto;
    max-width: 900px;
}

.hero-title-container , .hero-image-container{
    font-size: 1.4em;
    height: 300px;
    
}

.hero-title-container{
    font-size: 1.9em;
    text-align: center;
    width: 60%;
} 

.hero-image-container{
    width: 40%;
}

h1.hero-title, h2.hero-subtitle{
    margin: 0;
}

.hero-title-container button.call2action-btn{
    font-size: 1rem;
    background-color: var(--secondary-color);
    color: white;
    border: 0;
    border-radius: .5em;
    padding: .7em 1em;
    margin-top: 1.5em ;
    cursor: pointer;
}

.hero-title-container button.call2action-btn:focus{
    outline: 0;
}

.hero-title-container button.call2action-btn:hover{
    background-color: #d55f05;
}

.hero-title-container button.call2action-btn:active{
    transform: scale(0.98);
}

.hero span.name{
    color: var(--primary-color);
    font-family: 'Ms Madi', cursive;
    font-weight: bolder;
}

.hero-subtitle .title{
    color:var(--secondary-color)
}

@media (max-width: 450px){
    .hero{
        flex-direction: column-reverse;
        
    }

    .hero-title-container , .hero-image-container{
        font-size: 1.4em;
        width: 90%;
        justify-content: center;
        max-height: 600px;
        
    }

    .hero-title-container{
        height: 55%;
    } 
    
    .hero-image-container{
        height: 45%;
    }


}

